@media screen and (max-width: 479px) {
    .header{
        width: 200px;
    }

    .main-left{
        width: 200px;
    }
    
    .main-right{
        width: 200px;
    }

    .footer{
        width: 200px;
    }

    .container{
        width: 200px;
    }

}