body{
    background-color: gray;
}

form{
    text-align: center;
    padding: 30px;
}

h1 {
    text-align: center;
    padding: 30px;
    font-family:serif;
    color: white;
     border-bottom: solid;
    border-width: 3px;
    border-color: white
}
